!!!
%html
  %head
    %title New App
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %p Here's the header
    = yield
    %p And Here's the footer
